<!DOCTYPE HTML>

<html>
	<head>
		<title>Ricco's personal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h1>Hey there, I'm Ricco </h1>
								<p>I'M DRIVEN BY A GENUINE PASSION FOR WORKING WITH DATA - FROM
									UNCOVERING INSIGHTS TO BUILDING THE SYSTEMS THAT MAKE THEM POSSIBLE.
									I ENJOY SOLVING COMPLEX PROBLEMS, DESIGNING DATA PIPELINES
									AND AUTOMATING WORKFLOWS, WITH PYTHON AS MY FAVORITE TOOL.
									WITH THE RIGHT GUIDANCE, I’M EAGER TO TURN REAL-WORLD CHALLENGES INTO
									IMPACTFUL SOLUTIONS.</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#work">Work</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Intro</h2>
								<br>
								<h3>My Journey to become a data specialist</h3>
								<h4>2021</h4>
								<p>The COVID era began to fade, yet still leaving us with uncertainties about the future. During the pandemic,
									I realized that the most secure jobs were those that could be done remotely, which led me
									to explore web development.</p>
								<h4>2022</h4>
								<p>By this point, I had learned fair amount of HTML, CSS, and JavaScript, but I knew it was not
									enough to succeed. In April, I enrolled in a two-month Front-End Development Bootcamp,
									which significantly expanded my skills. To attend, I had to take unpaid leave from my full-time
									job in construction industry. The bootcamp boosted my confidence and reignited my passion for learning.
									While I enjoyed coding, it became overwhelming at times, especially since we were learning Angular,
									where JavaScript evolved into the more complex TypeScript. Without tools like ChatGPT (which didn't exist yet),
									I had to rely on Google to solve every issue. After the bootcamp, I returned to my daily job and having
									missed almost two months, I had to take the initiative to make up for lost time. I quickly realized that
									balancing full-time work while trying to learn new skills was not sustainable. So, I made a decision…</p>
								<h4>2023</h4>
								<p>I decided to commit 120% to my job, with the goal of saving enough money and gaining enough credibility to
									take time off for learning. This effort paid off and I secured a three-month learning holiday in Thailand.
									I left in December 2022 and returned in March 2023.
									While I didn't study as much as I intended during the trip, I met digital nomads living the lifestyle
									I aspired to and I gained valuable insight into in-demand skills. I started noticing terms like SQL, Python,
									APIs, and the Pandas library popping  up in job listings. I didn't fully understand them yet, but I knew
									they were important for my future.
									After returning, I dived back into work, energized from the Thailand sun and motivated by new projects.
									By mid-summer, I had time to revisit my studies. I enrolled in the <a href="https://www.udemy.com/course/100-days-of-code/"><b>100 Days of Python</b></a>
									course on Udemy and
									was immediately hooked. Python’s simple syntax, power and broad usability fascinated me. By the end of summer,
									I had completed about 25% of the course, but full time job forced me to slow down again.
									At that point, I realized I needed to fully commit to my new path. My plan was to save enough money to quit
									my job and focus entirely on programming, aiming for summer 2024 at the earliest — but life had other plans.</p>
								<h4>2024</h4>
								<p>In December 2023, I left my job and returned to Thailand, determined to focus 100% on learning. It felt like a
									"now or never" moment. I began with <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science"><b>Harvard’s CS50</b></a>
									course to solidify my computer science fundamentals, and as
									I reached the Python chapter, it confirmed my belief that Python was the way to go.
									After completing CS50, I restarted the 100 Days of Python course, progressing steadily over 4-5 months.
									The course covered everything from building simple games to deploying modern web apps, but it wasn't until
									the final section — data analysis and visualization with Python — where I found my true passion.
									From there, I completed the <a href="https://www.coursera.org/professional-certificates/google-data-analytics"><b>Google Data Analytics Certificate</b></a>
									course, which helped me connect all the dots
									and clarify my career path. While I haven’t secured a role yet, I’m continuing to improve my skills - for example in
									Tableau or building custom data pipelines and am eager to begin my first data related position...
								</p>
								<img class="intro" src="static/images/me_samui_temple.jpg" alt="Me at the top of Samui">
								</article>

						<!-- Work -->
							<article id="work">
								<h1 class="major">Portfolio</h1>
								<table width="100%">
									<tr width="100%">
										<td class="parent-td">
											<div class="text-div">
												<h3>KV.ee Real Estate Dashboard with Google Cloud and Apache Airflow</h3>
												<p>
													A custom <b><i>Python Dash</i></b> dashboard for real estate analytics,
													integrating <b><i>Google Cloud Platform</i></b> and <b><i><a href="static/images/DAG.png" target="_blank">Apache Airflow</a></i></b> for automated
													workflows. The dashboard features a heatmap filter for Estonian regions,
													enabling dynamic insights into real estate trends. It includes real-time
													data scraping from KV.ee, <b><i>BigQuery</i></b> storage, and interactive visualizations
													like average unit price, total listings, and price per sqm for
													comprehensive regional analysis.
												<br><i class="datum">January 2025</i>
												</p>
											</div>
											<div class="image-div" width="50%" style="vertical-align: bottom; text-align: center;">
												<img class="game-image" src="static/images/dash_IMG.png">
												<ul style="margin-bottom: 0;" class="actions">
													<li><button class="primary" onclick="window.open('https://github.com/LeivaLinnase/KV_dashboard/blob/main/README.md', '_blank');">Docs</button></li>
													<li><button onclick="window.open('https://github.com/LeivaLinnase/KV_dashboard', '_blank');">GitHub</button></li>
													<li><button class="primary" onclick="window.open('https://web-production-7ec45.up.railway.app/', '_blank');">Dashboard</button></li>
												</ul>
											</div>
											</a>
										</td>
									</tr>
									<tr width="100%">
										<td class="parent-td">
											<div class="text-div">
												<h3>Data Collection and Automation Pipeline</h3>
												<p>
													An automated pipeline that collects iPhone sales
													listings data from local retailer websites and uploads
													the cleaned dataset to Google Sheets daily. Built with
													Python, Selenium, and Google APIs, the project features
													modular scrapers for each retailer, automated merging and
													cleaning of data, and seamless integration with Google Sheets
													via a secure Google Cloud service account. The pipeline is
													orchestrated using GitHub Actions to run daily at 1 AM, ensuring
													consistent data collection for future trend analysis.
												<br><i class="datum">January 2025</i>
												</p>
											</div>
											<div class="image-div" width="50%" style="vertical-align: bottom; text-align: center;">
												<img class="game-image" src="static/images/iphones_sheet.png">
												<ul style="margin-bottom: 0;" class="actions">
													<li><button class="primary" onclick="window.open('https://github.com/LeivaLinnase/phone_scraper/blob/main/README.md', '_blank');">Docs</button></li>
													<li><button onclick="window.open('https://github.com/LeivaLinnase/phone_scraper', '_blank');">GitHub</button></li>
													<li><button class="primary" onclick="window.open('https://docs.google.com/spreadsheets/d/1eger9RrRfpg5lTW15siDT9zzzV8hzRowHu_xUi4Hb4c/edit?usp=sharing', '_blank');">Spreadsheet</button></li>
												</ul>
											</div>
											</a>
										</td>
									</tr>
									<tr width="100%">
										<td class="parent-td">
											<div class="text-div">
												<h3>NBA Individual Shooting Chart</h3>
												<p>
													I created an interactive Tableau dashboard to visualize basketball shot
													locations for NBA players on a full-court background. The dashboard allows
													users to filter by player and see the positions of made and missed shots represented
													as circles, color-coded for clarity. The shot data is accurately overlaid on a custom
													full-court image using proper axis scaling and alignment, showcasing advanced data
													visualization techniques.
												<br><i class="datum">December 2024</i>
												</p>
											</div>
											<div class="image-div" width="50%" style="vertical-align: bottom; text-align: center;">
												<img class="game-image" src="static/images/shooting_dash.png">
												<ul style="margin-bottom: 0;" class="actions">
													<li><button class="primary" onclick="window.open('https://public.tableau.com/views/NBAIndividualShootingChart/Dashboard?:language=en-GB&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link', '_blank');">OPEN Chart</button></li>
													<li><button onclick="window.open('static/assets/NBA Shooting Chart.pdf', '_blank');">Documentation</button></li>
												</ul>
											</div>
											</a>
										</td>
									</tr>
									<tr width="100%">
										<td class="parent-td">
											<div class="text-div">
												<h3>Tableau Dashboard</h3>
												<p>
												This project marks my first full-scale Tableau endeavor, featuring two comprehensive dashboards: a Sales Dashboard and a Customers Dashboard.
												The primary goal was to explore and practice the diverse functionality offered by Tableau, from data visualization to interactivity.
												The dashboards are equipped with custom navigation buttons and a wide range of filters,
												allowing users to tailor their views and gain insights quickly. Through this project,
												I’ve developed a deeper appreciation for Tableau's power and versatility, refining my skills in creating
												interactive and user-friendly dashboards.<br><i class="datum">November 2024</i>
												</p>
											</div>
											<div class="image-div" width="50%" style="vertical-align: bottom; text-align: center;">
												<img class="game-image" src="static/images/dashboard.png">
												<button class="primary" onclick="window.open('https://public.tableau.com/views/SalesDashboard_17297683316920/SalesDashboard?:language=en-GB&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link', '_blank');">Dashboard</button>
											</div>
											</a>
										</td>
									</tr>
									<tr width="100%">
										<td class="parent-td">
											<div class="text-div">
												<h3>Bellabeat - Smart Device Usage</h3>
												<p>
													This case study was a capstone project of 'Google Data Analytics Certificate'.
													Bellabeat is a high-tech manufacturer of health-focused products for women.
													The objective was to give recommendations to the company by analysing
													open data about smart device usage, collected by competitive manufacturers. In
													this case study, I demonstrate my ability to use and combine tools like Python,
													SQL and Google Sheets to gain valuable insights in order to provide top-quality
													recommendations.<br><i class="datum">October 2024</i>
												</p>
											</div>
											<div class="image-div" width="50%" style="vertical-align: bottom; text-align: center;">
												<iframe src="static/assets/BB_case_study.pdf#toolbar=0" height="300px"></iframe>
												<button onclick="window.open('static/assets/BB_case_study.pdf', '_blank');">Preview PDF</button>
											</div>
										</td>
									</tr>
									<tr width="100%">
										<td class="parent-td">
											<div class="text-div">
												<h3>Guess the U.S States</h3>
												<p>
													I created this guessing game during my Python Bootcamp, which was one of my first
													experiences working with the pandas library and CSV files. I implemented the Python code
													into a web UI, allowing users to try it out. The game begins with a blank map of the
													United States and users must type a state name into the submit box. If user
													correctly identifies a state, it will be displayed at its correct location on the map.
													How many states can you guess?<br><i class="datum">May 2024</i>
												</p>
											</div>
											<div class="image-div" width="50%" style="vertical-align: bottom; text-align: center;">
												<img class="game-image" src="static/assets/US-states-game/blank_states_img.jpeg">
												<a href="{{ url_for('guess_states') }}" target="_blank">
												<button class="primary">GAME</button>
												</a>
											</div>
										</td>
									</tr>
								</table>
							</article>
						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<br>
<!--								<span class="image main"><img src="static/images/me.jpeg" alt="" /></span>-->
								<h3>About me</h3>
								 <p>I’m a motivated and adaptable person with a strong passion for everything related to data - statistics,
									discovering insights, finding relationships and working with numbers to uncover
									trends and solve problems. My experiences and dedication have helped me to build a solid foundation
									for an entry-level data specialist role. I enjoy learning new things and recently completed the
									<a href="https://www.coursera.org/professional-certificates/google-data-analytics"><b>Google Data Analytics Professional Certificate</b></a>,
									which has strengthened my skills in solving
									real-world problems with data. Feel free to check out my projects in the <a href="#work"><b>work</b></a> section to
									see how I've applied my knowledge.
								 </p>
								 <br>
									<div class="flex-container">
										<div>
											<h3 style="color: #F0E68C;">Skills</h3>
											<ul class="dark">
											    <li><h4>Python</h4></li>
											    <li><h4>SQL</h4></li>
												<li><h4>Tableau</h4></li>
											    <li><h4>Spreadsheets</h4></li>
												<li><h4>Git</h4></li>
											    <li><h4>Various AI tools</h4></li>
											    <li><h4>Digital content</h4></li>
											    <li><h4>Critical thinking</h4></li>
											    <li><h4>Problem solving</h4></li>
											</ul>
										</div>
										<div style="text-align: right;">
											<h3>Education</h3>
											<ul style="list-style-type: none;" class="edu">
												<li><h4>JÜRI GÜMNAASIUM</h4><i>Secondary education<br><span>1999-2011</span></i></li>
												<li><h4>OMIS OÜ</h4><i><a href="static/assets/vimpel.pdf" target="_blank" rel="noopener noreferrer">Certificate</a> in Web Development<br><span>2022</span></i></li>
												<li><h4>Udemy</h4><i><a href="https://www.udemy.com/course/100-days-of-code">The Complete Python Pro Bootcamp</a><br><span>2023-2024</span></i></li>
												<li><h4>Harvard University</h4><i><a href="https://pll.harvard.edu/course/cs50-introduction-computer-science">CS50: Introduction to Computer Science</a><br><span>2024</span></i></li>
												<li><h4>Coursera</h4><i>Google Data Analytics Professional <a href="https://www.coursera.org/account/accomplishments/professional-cert/L61NO3LH0XKU">Certificate</a><br><span>2024</span></i></li>
											</ul>
										</div>
									</div>
								<br>
								<h3>Professional Experience</h3>
								<ul class="outer-list">
									<li><h4>Dagöstrand, Construction Company</h4><i>Team Lead/On-site Manager<br><span>2016-2024</span></i></li>
									<li>
										<ul>
											<li>Led project teams in executing construction projects across Estonia and the Scandinavian market. </li>
											<li>Coordinated with clients, suppliers and contractors to ensure project milestones and deadlines were met.</li>
											<li>Managed project resources and timelines to optimize efficiency and profitability. </li>
											<li>Oversaw quality control and safety protocols to maintain high standards of workmanship. </li>
										</ul>
									</li>
								</ul>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form method="post" action="/">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" required/>
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" required/>
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4" required></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">
									<li><a href="https://www.tiktok.com/@leivalinnase?_t=8qaHTme8QiH&_r=1" class="icon brands fa-tiktok" target="_blank"><span class="label">TikTok</span></a></li>
<!--									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
									<li><a href="https://www.linkedin.com/in/riccardo-kiho-a45056267" class="icon brands fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/LeivaLinnase" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

						<!-- Elements -->
							<article id="elements">
								<h2 class="major">Elements</h2>

								<section>
									<h3 class="major">Text</h3>
									<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
									This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
									This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>
									<hr />
									<h2>Heading Level 2</h2>
									<h3>Heading Level 3</h3>
									<h4>Heading Level 4</h4>
									<h5>Heading Level 5</h5>
									<h6>Heading Level 6</h6>
									<hr />
									<h4>Blockquote</h4>
									<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
									<h4>Preformatted</h4>
									<pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
								</section>

								<section>
									<h3 class="major">Lists</h3>

									<h4>Unordered</h4>
									<ul>
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Alternate</h4>
									<ul class="alt">
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Ordered</h4>
									<ol>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis viverra.</li>
										<li>Felis enim feugiat.</li>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis lorem.</li>
										<li>Felis enim et feugiat.</li>
									</ol>
									<h4>Icons</h4>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
									</ul>

									<h4>Actions</h4>
									<ul class="actions">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions stacked">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Table</h3>
									<h4>Default</h4>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>

									<h4>Alternate</h4>
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead> b
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</section>

								<section>
									<h3 class="major">Buttons</h3>
									<ul class="actions">
										<li><a href="#" class="button primary">Primary</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button">Default</a></li>
										<li><a href="#" class="button small">Small</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button primary icon solid fa-download">Icon</a></li>
										<li><a href="#" class="button icon solid fa-download">Icon</a></li>
									</ul>
									<ul class="actions">
										<li><span class="button primary disabled">Disabled</span></li>
										<li><span class="button disabled">Disabled</span></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Form</h3>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="demo-name">Name</label>
												<input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
											</div>
											<div class="field half">
												<label for="demo-email">Email</label>
												<input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
											</div>
											<div class="field">
												<label for="demo-category">Category</label>
												<select name="demo-category" id="demo-category">
													<option value="">-</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">Low</label>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-high" name="demo-priority">
												<label for="demo-priority-high">High</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-copy" name="demo-copy">
												<label for="demo-copy">Email me a copy</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-human" name="demo-human" checked>
												<label for="demo-human">Not a robot</label>
											</div>
											<div class="field">
												<label for="demo-message">Message</label>
												<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>

							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Ricco's Personal Site.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
